# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
logs/*.jsonl
.git
.mypy_cache
.pytest_cache
.pytest_tmp/
.hypothesis/
# .gitignore
.env
.aider*
data/raw/*
!data/raw/mock/
!data/raw/mock/waec_mathematics_mock_parse.json
data/embeddings/
data/test_embeddings/
data/logs/*.jsonl
